.class1 {
  border: 4px solid red;
  border-radius: 8px;
}

.class2 {
  border-left: 6px dashed black;
  border-right: 6px dashed black;
  border-bottom: 6px dashed black;
  border-top: 10px dashed blue;
  background-color: lightgrey;
  padding: 5px;
}

.class3 {
  border: 3px dashed black;
  background-color: lightgreen;
  padding: 20px;
}

div {
  margin: 10px;
}
